.promo {
  min-height: 650px;
  background: url("../img/bg/hero.png") center / cover no-repeat;
  padding: 21px 10px 93px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }
  &__header {
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
  }
  &__subheader {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  &__icons {
    margin-top: 60px;
    margin-bottom: 67px;
    width: 425px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 108px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    img {
      display: block;
      margin: 0 auto 20px;
    }
  }
  &__link {
    color: #fff;
    font-size: 16px;
    margin-top: 18px;
    font-weight: 500;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  @media (max-width: 650px) {
    &__wrapper {
      margin-top: 45px;
      align-items: center;
      text-align: center;
    }
    &__header {
      font-size: 21px;
    }
    &__subheader {
      font-size: 16px;
    }
  }
}
