html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

.title {
  font-weight: 700;
  color: #000;
  &_fz10 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  &_fz12 {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  &_fz22 {
    font-size: 3.6px;
    line-height: 6rem;
  }
  &_fz30 {
    font-size: 4.8rem;
    line-height: 6rem;
  }
  &_circle {
    padding-left: 1rem;
    line-height: 3.6rem;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 3.6rem;
      height: 3.6rem;
      background: $main-color;
      border-radius: 50%;
    }
  }
}
