html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

.title {
  font-weight: 700;
  color: #000;
  margin: 0;
  line-height: 1.25em;
  &_fz10 {
    font-size: 1.6rem;
  }
  &_fz14 {
    font-size: 1.4rem;
  }
  &_fz20 {
    font-size: 2rem;
  }
  &_fz36 {
    font-size: 3.6rem;
  }
  &_fz48 {
    font-size: 4.8rem;
  }
  &_center {
    text-align: center;
  }
}
