@import "../css/bootstrap-reboot.min.css";
@import "../css/slick.css";
@import "../css/fonts.css";
@import "base/variables";
@import "base/mixins";
@import "base/animations";

* {
  font-family: Museo Sans Cyrl, sans-serif;
}

.container {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  cursor: pointer;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/map";
@import "blocks/modal";
@import "blocks/buttons";
@import "blocks/titles";
