.portfolio {
  margin-top: 120px;
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas:
      "uber pulse bread plans"
      "ipad mac mac plans";
  }
  &__element {
    display: block;
    filter: grayscale(50%);
    transition: all 0.25s ease;
    z-index: 1;
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.05);
      filter: grayscale(0%);
      z-index: 2;
    }
  }
  &__element_uber {
    grid-area: uber;
  }
  &__element_pulse {
    grid-area: pulse;
  }
  &__element_bread {
    grid-area: bread;
  }
  &__element_plans {
    grid-area: plans;
  }
  &__element_ipad {
    grid-area: ipad;
  }
  &__element_mac {
    grid-area: mac;
  }
}
