.price {
  margin-top: 60px;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px 50px;
  }
  &__list-elem {
    margin-top: 15px;
    position: relative;
    padding: 0 25px;
    flex: 1 1 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &::before {
      content: "";
      left: 0;
      top: 2px;
      width: 15px;
      height: 15px;
      background-color: var(--main-color);
      border-radius: 50%;
      position: absolute;
    }
  }
  &__cost {
    font-weight: 700;
    font-size: 14px;
  }
  &__descr {
    margin-top: 5px;
    width: 100%;
    font-size: 12px;
  }
}
